.playoff__container {
  font-family: $font-family-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../../media/bg_stadion.png);
  background-color: $background-color;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: $box-shadow-primary;
}

.playoff__bracket {
  display: flex;
  justify-content: space-between;
  width: 90%;

  .playoff__round {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;

    h2 {
      background-color: $primary-color;
      color: $color-text;
      padding: 10px 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin: 40px 0;
      text-align: center;
      box-shadow: rgba(12, 12, 12, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset,
        rgb(24, 24, 24) 0px 20px 30px -10px;
    }

    .playoff__groups {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      .group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .matche {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          background-color: $primary-color;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 10px;
          width: 200px;
          color: $text-color;
          box-shadow: rgba(12, 12, 12, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset,
            rgb(24, 24, 24) 0px 20px 30px -10px;

          .team {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;

            p {
              text-align: center;
              font-weight: bold;
            }

            img {
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }

    .playoff__semi-final {
      margin-bottom: 0;
    }

    .playoff__final {
      padding: 5px;
      margin: 0;

      .match {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: $primary-color;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        width: 200px;
        color: $text-color;
        box-shadow: rgba(12, 12, 12, 0.25) 0px 30px 60px -12px inset,
          rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset,
          rgb(24, 24, 24) 0px 20px 30px -10px;

        .team {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 90%;

          img {
            width: 48px;
            height: 48px;
          }

          p {
            text-align: center;
            font-weight: bold;
          }
        }
      }
    }
  }

  .playoff__round--quarter-final {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .playoff__groups {
      gap: 40px;

      h2 {
        justify-self: flex-start;
      }

      .group {
        margin-bottom: 100px;

        .match {
          margin-top: 20px;
        }
      }
    }
  }
}

.playoff__controls {
  margin: 20px;

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: $button-bg-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(12, 12, 12, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset,
      rgb(24, 24, 24) 0px 20px 30px -10px;

    &:hover {
      background-color: $button-hover-bg-color;
    }

    &:active {
      background-color: $button-active-bg-color;
    }

    &:disabled {
      background-color: $button-disabled-bg-color;
    }
  }
}
.winner {
  font-weight: bold;
  background-color: #705c00;
  padding-inline: 10px;
  border-radius: 5px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;

  &__content {
    background-color: $color-bg;
    padding: 40px;
    border: 1px solid $border-color;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
    text-align: center;

    .modal__close-button {
      color: $text-color;
      padding: 15px;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 50px;
      font-weight: bold;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

#winner-announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  span {
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
  }
}

#start-new-tournament {
  width: 100%;
  margin-top: 40px;
  padding: 10px 35px;
  font-size: 24px;
  background-color: #3d454d;
  color: aliceblue;
  border: 2px solid #2a3036;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  &:hover,
  &:active {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  }

  &:hover {
    background-color: #3d454d;
  }

  &:active {
    background-color: #262b30;
  }
}
