@charset "UTF-8";
body html {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
}

.button {
  width: 30%;
  padding: 15px;
  font-size: 24px;
  position: absolute;
  bottom: 20%;
  left: 35%;
  background: #696969;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.7098039216);
}
.button a {
  text-decoration: none;
  color: aliceblue;
}
.button a:hover {
  background-color: rgba(110, 110, 110, 0.4784313725);
  transition: background-color 0.3s;
}
.button a:active {
  background-color: rgba(61, 61, 61, 0.4784313725);
  transition: background-color 0.2s;
}

.button-group {
  margin: 0 10px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  background-color: #696969;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  box-shadow: rgb(48, 48, 48) 0px 20px 30px -10px;
}
.button-group:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.button-group:disabled:hover {
  background-color: #aaaaaa;
  transition: 0.2s;
}
.button-group:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: #99928b;
  transition: 0.2s;
}
.button-group:active {
  background-color: #6d6d6d;
  transition: 0.2s;
}
.button-group a {
  text-decoration: none;
  color: white;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper__video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.wrapper__video-background .video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper__video-background #bg-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Масштабирование видео */
  -o-object-position: center;
     object-position: center; /* Центрирование видео */
}
.wrapper__slider-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wrapper__slider-container .wrapper__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 100%;
  position: relative;
}
.wrapper__slider-container .wrapper__slider .slider-item {
  width: 12%;
  transition: transform 0.15s;
  transition: opacity 0.15s;
  transition: height 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__slider-container .wrapper__slider .slider-item img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s;
}
.wrapper__slider-container .wrapper__slider .slider-item img:hover {
  box-shadow: rgba(255, 255, 255, 0.507) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.562) 0px 18px 36px -18px inset;
}/*# sourceMappingURL=main.css.map */