body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
}

.button {
  width: 30%;
  padding: 15px;
  font-size: 24px;
  position: absolute;
  bottom: 20%;
  left: 35%;
  background: #696969;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.7098039216);
}
.button a {
  text-decoration: none;
  color: aliceblue;
}
.button:hover {
  background-color: rgba(110, 110, 110, 0.4784313725);
  transition: background-color 0.3s;
}
.button:active {
  background-color: rgba(61, 61, 61, 0.4784313725);
  transition: background-color 0.2s;
}

.button-group {
  margin: 0 10px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  background-color: #696969;
  border: none;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  box-shadow: rgb(48, 48, 48) 0px 20px 30px -10px;
}
.button-group:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
.button-group:disabled:hover {
  background-color: #aaaaaa;
  transition: 0.2s;
}
.button-group:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: #99928b;
  transition: 0.2s;
}
.button-group:active {
  background-color: #6d6d6d;
  transition: 0.2s;
}
.button-group a {
  text-decoration: none;
  color: white;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper__video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.wrapper__video-background .video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper__video-background #bg-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper__slider-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wrapper__slider-container .wrapper__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 100%;
  position: relative;
}
.wrapper__slider-container .wrapper__slider .slider-item {
  width: 12%;
  transition: transform 0.15s;
  transition: opacity 0.15s;
  transition: height 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__slider-container .wrapper__slider .slider-item img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.2s;
}
.wrapper__slider-container .wrapper__slider .slider-item img:hover {
  box-shadow: rgba(255, 255, 255, 0.507) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.562) 0px 18px 36px -18px inset;
}

.page {
  width: 100%;
  height: 100%;
  background-image: url(../media/bg_stadion.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #333333;
  color: white;
  text-align: center;
}
.page__leaders {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #353535;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.page__leaders .team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.page__leaders .team img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.page__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}
.page__groups {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
.page__groups .group {
  min-width: 22%;
  background-color: #575757;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgb(24, 24, 24) 0px 20px 30px -10px;
}
.page__groups .group h2 {
  text-align: center;
  border-bottom: 2px solid #a8a8a8;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.page__groups .group .team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.page__groups .group .team img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.page__matches {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.page__matches .match {
  width: 45%;
  min-width: 380px;
  background-color: #363636;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px, rgb(43, 43, 43) 0px 20px 30px -10px;
}
.page__matches .match .team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 51px;
}
.page__matches .match .team img {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 8%;
}
.page__matches .match .team .item {
  margin: 0 5%;
}

.playoff__container {
  font-family: "Lilita One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../media/bg_stadion.png);
  background-color: #333;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px, rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.playoff__bracket {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.playoff__bracket .playoff__round {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.playoff__bracket .playoff__round h2 {
  background-color: #696969;
  color: white;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 40px 0;
  text-align: center;
  box-shadow: rgba(12, 12, 12, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgb(24, 24, 24) 0px 20px 30px -10px;
}
.playoff__bracket .playoff__round .playoff__groups {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.playoff__bracket .playoff__round .playoff__groups .group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.playoff__bracket .playoff__round .playoff__groups .group .match {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #696969;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  color: aliceblue;
  box-shadow: rgba(12, 12, 12, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgb(24, 24, 24) 0px 20px 30px -10px;
}
.playoff__bracket .playoff__round .playoff__groups .group .match .team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.playoff__bracket .playoff__round .playoff__groups .group .match .team p {
  text-align: center;
  font-weight: bold;
}
.playoff__bracket .playoff__round .playoff__groups .group .match .team img {
  width: 48px;
  height: 48px;
}
.playoff__bracket .playoff__round .playoff__semi-final {
  margin-bottom: 0;
}
.playoff__bracket .playoff__round .playoff__final {
  padding: 5px;
  margin: 0;
}
.playoff__bracket .playoff__round .playoff__final .match {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #696969;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  color: aliceblue;
  box-shadow: rgba(12, 12, 12, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgb(24, 24, 24) 0px 20px 30px -10px;
}
.playoff__bracket .playoff__round .playoff__final .match .team {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.playoff__bracket .playoff__round .playoff__final .match .team img {
  width: 48px;
  height: 48px;
}
.playoff__bracket .playoff__round .playoff__final .match .team p {
  text-align: center;
  font-weight: bold;
}
.playoff__bracket .playoff__round--quarter-final {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.playoff__bracket .playoff__round--quarter-final .playoff__groups {
  gap: 40px;
}
.playoff__bracket .playoff__round--quarter-final .playoff__groups h2 {
  justify-self: flex-start;
}
.playoff__bracket .playoff__round--quarter-final .playoff__groups .group {
  margin-bottom: 100px;
}
.playoff__bracket .playoff__round--quarter-final .playoff__groups .group .match {
  margin-top: 20px;
}

.playoff__controls {
  margin: 20px;
}
.playoff__controls button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2a3036;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(12, 12, 12, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgb(24, 24, 24) 0px 20px 30px -10px;
}
.playoff__controls button:hover {
  background-color: #3d454d;
}
.playoff__controls button:active {
  background-color: #262b30;
}
.playoff__controls button:disabled {
  background-color: #6c757d;
}

.winner {
  font-weight: bold;
  background-color: #705c00;
  padding-inline: 10px;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.modal__content {
  background-color: #333333;
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.7098039216);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px;
  text-align: center;
}
.modal__content .modal__close-button {
  color: aliceblue;
  padding: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

#winner-announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#winner-announcement span {
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
}

#start-new-tournament {
  width: 100%;
  margin-top: 40px;
  padding: 10px 35px;
  font-size: 24px;
  background-color: #3d454d;
  color: aliceblue;
  border: 2px solid #2a3036;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#start-new-tournament:hover, #start-new-tournament:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
#start-new-tournament:hover {
  background-color: #3d454d;
}
#start-new-tournament:active {
  background-color: #262b30;
}/*# sourceMappingURL=main.css.map */